**/CMakeCache.txt
**/CMakeFiles
**/CMakeFiles/**/*
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/.cache
**/.DS_Store
./main
.Rproj.user
debug/NeuralNetworkLib/libNeuralNetworkLib.a
networks/.RData
networks/.Rhistory
networks/networks.Rproj
debug/main
release
